[package]
name = "stellar"
version = "0.1.0"
edition = "2024"

[dependencies]
csv = "1.3.1"
itertools = "0.14.0"
rand = "0.10.0"
rand_distr = "0.6.0"
rayon = "1.10.0"
plotters = {version= "0.3", features = ["full_palette"] }

[dev-dependencies]
csv = "1.3.1"
criterion = "0.5"

[[bench]]
name = "matrix_benchmark"
sample_size = 10
harness = false

[profile.release]
strip = true
lto = true
